.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.scrolling_area {
    overflow: auto;
    height:  360px;
}

.dialog {
    display: flex;
    align-items: center;
    padding: 4px;
}

.dialogImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 7px;
}

.dialogs_items {
    padding: 10px;

}

.messages_styled_button {
    background-color: #cb5570;
    opacity: 88%;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.dialogs_items .active {
    color: gold;
}

.messages{
    padding: 10px;
    display: grid;
    grid-template-rows: 8.5fr 3.88fr;
    /*flex-direction: column;
    flex-wrap: nowrap;*/
}

.messages textarea {
   /* align-self: flex-start;*/
}

.dialogs_items .dialog {

}

.messages .message{

}

.message_author_info_container {
    display: flex;
    flex-direction:  column;
}

.message_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}

.styled_textarea {

    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

.textarea_container {
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*align-items: center;*/
}