.header {
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr 16fr;
    background-color: aquamarine;
    opacity: 0.6;

}

.header img {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px ;
    width: 3em;
}

.network_name {
    padding-top: 15px;
    color: #cb5570;
    text-emphasis: crimson;
}